<div class="example-container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort matSortActive="date" matSortDirection="asc" matSortDisableClear>
    <ng-container matColumnDef="projectName">
      <mat-header-cell *matHeaderCellDef> projectName </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.projectName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.status}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> date </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{customer.date}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

